#Arquivo TXT para acompanhar e listar o que era preciso ser feito
Instruções do trabalho e seus tipos.txt
#Software usado para fazer o projeto
Mars4_5.jar
#Dados binários gerados usados para fazer o desassembly
dados_trabalho.bin

